
/* view pages */
div#z-maincontent.z-module-muticket table tbody tr td {
    vertical-align: top;
}

/* display pages */
div.muticketRightBox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    /*border: 1px solid #666;*/
}

div.muticketRightBox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #CCC;
    padding-bottom: 8px;
}

div.muticketRightBox p.manageLink {
    margin-left: 18px;
}

.muticketColourPicker {
    cursor: pointer;
}

/* validation */
input.required, textarea.required {
    border: 1px solid #00a8e6;
}
input.validation-failed, textarea.validation-failed {
    border: 1px solid #f30;
    color : #f30;
}
input.validation-passed, textarea.validation-passed {
    border: 1px solid #0c0;
    color : #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color : #fff;
    font-weight: 700;
}

/* edit pages */
div.muticketRelationLeftSide {
float: left;
width: 25%;
}

div.muticketRelationRightSide {
float: right;
width: 65%;
}

div.muticketAutoCompleteWrap {
    position: absolute;
    height: 40px;
    margin: 0;
    padding: 0;
    left: 260px;
    top: 10px;
}

div.muticketAutoComplete,
div.muticketAutoCompleteWithImage {
    position: relative !important;
    top: 2px !important;
    left: 0 !important;
    width: 100px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.muticketAutoComplete ul,
div.muticketAutoCompleteWithImage ul {
    margin: 0;
    padding: 0;
}

div.muticketAutoComplete ul li,
div.muticketAutoCompleteWithImage ul li {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

div.muticketAutoComplete ul li {
    background-image: url("../../../images/icons/extrasmall/tab_right.png");
}
div.muticketAutoCompleteWithImage ul li {
    background-image: url("../../../images/icons/extrasmall/agt_Multimedia.png");
}

div.muticketAutoComplete ul li.selected,
div.muticketAutoCompleteWithImage ul li.selected {
    background-color: #ffb;
}

div.muticketAutoComplete ul li div.itemtitle,
div.muticketAutoCompleteWithImage ul li div.itemtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2em;
}
div.muticketAutoComplete ul li div.itemdesc,
div.muticketAutoCompleteWithImage ul li div.itemdesc {
    font-size: 10px;
    color: #888;
}

button.muticketInlineButton {
    margin-top: 1em;
}

/*------------------------Own styles----------------------*/

/*-------------------USER----------------------*/


/*---------------Tickets-----------------------*/

.ticket_user_header {
   background: #eee;
   position: relative;
   float: left;
   width: 100%;
  /* -moz-border-radius: 5px;*/
   border: 1px solid #CCCCCC;	
}

.ticket_user_header_left {
    float: left;
    width: 45%;	
    padding: 0 0 0 10px;
}

.ticket_user_header_left h2 {
    line-height: 1.2em;
}

.ticket_user_header_right {
    float: left;
    width: 25%;	
}

.ticket_user_header_right li {
   list-style: none;
   margin: 0;
}

.ticket_user_header_menue {
    float: right;
    width: 25%;	
    position: relative;
    margin: 10px;	
}

.ticket_user_table {
    clear: both;
}

.ticket_user_body  {
    background: #ddd;
    width: 100%;
    padding: 0;
  /*  -moz-border-radius: 10px;*/
    border-bottom: 1px solid #333;
    postion: relative;
    float: left;
    clear: both;
}
.ticket_user_body_left  {
    float: left;
    width: 32%;
    padding: 1%;
    position: relative;
}

.ticket_user_body_left fieldset  {
    background: transparent;
    padding: 0;
    margin: 0;
}

.ticket_user_body_right  {
    float: right;
    width: 60%;
    padding: 2%;
    position: relative;
    background: #eee;
    -moz-border-radius: 0 0 10px 0;
}

.ticket_user_body_avatar {
    width: 30%;
    font-size: 0.8em;
    float: left;

}

.ticket_user_body_avatar img{

    border: 3px solid #fff;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ticket_user_body_standard {
    width: 65%;
    font-size: 0.8em;
    float: right;
}

.ticket_user_body_rating {
    font-size: 0.8em;
    clear: both;
}

.muticket_rating_value {
    float: left;
    width: 25px;
}

#user_footer {
    clear: both;
}

#ticket_inline_use {
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}

#ticket_user_nosupport {
    float: left;
    margin: 20px 0 0 0;
    width: 96%;
    padding: 2%;
    border: 1px solid #333;
    font-size: 1.2em;
    color: #f00;
    background: #eee;
}

/*----------STATISTICS--------------*/

#ticketsnumber {
    border: 1px solid #333;
    margin: 0 0 10px 0;
    padding: 10px;
}

#ticketsrated {
    border: 1px solid #333;
    padding: 10px;
}

#ticket_table {
    margin: 20px 0 0 0;
}

/*--------------FORM------------------*/

.muticket_form_hidden {
    position: relative;
    display: none;
}

.muticket_rating_form {
    cursor: pointer;
}

.muticket_rating_form_class {
    display: none;
}





